body {
  margin: 0;
  background-color: #EFEFEF;
  text-align: center;
}

h1 {
  margin: 0 auto 0 auto;
  padding-top: 100px;
  padding-left: 50px;
  color: #185ADB;
  font-family: 'Rubik', sans-serif;
  font-size: 3em;
}

span {
  background-color: #FFC947;
}

p {
  color: #0A1931;
  padding-left: 50px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.25em;
  display: block;
  margin: 0 auto 0 auto;

}

img {
  height: 300px;
  width: 300px;
  background-color: #EFEFEF
}

.nav-container {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1em;
}

ul {
  list-style-type: none;
  margin: 0 auto 0 auto;
  padding: 0;
  background-color: #EFEFEF;
  position: fixed;
  top: 0;
  width: 200px;
}

/* li {
  float: right;
} */

li a {
  display: block;
  color: #185ADB;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  text-decoration-color: #FFC947;
  text-decoration-thickness: 0.3em;
}



/*

Blue: #185ADB
Yellow: #FFC947
Grey: #EFEFEF
BlueBlack: #0A1931
/*


/*
.topcontainer {
  background-color: #F67280;
  padding: 20px;
  width: 200px;
  height: 200px;
  border: solid 10px;
}

.middlecontainer {
  background-color: #C06C84;
  width: 200px;
  height: 200px;
  border: solid 20px;
  margin-left: 260px;
}

.bottomcontainer {
  background-color: #6C5B7B;
  width: 200px;
  height: 200px;
  border: solid 10px;
  margin-left: 500px;
}*/
